@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

body {
  margin: 0;
  font-size: 16px;
}

.card {
  height: 100vh;
}

.polaroids {
  overflow: hidden;
  background-color: grey;
  margin: auto;
  height: 100%;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "left top right"
    "left bottom right";
  &.empty-center {
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 30% 40% 30%;
  grid-template-areas:
    "left top right"
    "left center right"
    "left bottom right";
  }
}

.polaroids-stack {
  display: flex;
  justify-content: space-evenly;
  &:nth-child(1) {
    grid-area: left;
    flex-direction: column-reverse;
    padding: 8em 0;
  }
  &:nth-child(2) {
    grid-area: right;
    flex-direction: column;
    padding: 8em 0;
  }
  &:nth-child(3) {
    grid-area: top;
    padding-top: 8em;
    margin: 0 -30%;
  }
  &:nth-child(4) {
    grid-area: bottom;
    flex-direction: row-reverse;
    padding-bottom: 8em;
    margin: 0 -30%;
  }
}

.polaroid-wrapper {
  position: relative;
  &:hover:not(.expanded) {
    z-index: 10 !important;
    .polaroid-rotate {
      transform: rotate(-3deg) scale(1.3) !important;
    }
  }
  .polaroid-rotate {
    transition: transform 0.2s ease-out;
  }
}

.polaroid-wrapper.expanded {
  font-size: 1.5em;
  z-index: 100 !important;
  .polaroid-offset {
    transition: transform 0s;
    transform: translate(-50%, -50%) !important;
  }
  .polaroid-rotate {
    transition: transform 0s;
    transform: rotate(4deg) !important;
  }
  .polaroid {
    transform: translate(-50%, -50%) !important;
    width: 50vw;
    min-width: 300px;
    max-width: 400px;
  }
  .media + .caption {
    white-space: normal;
  }
}

.polaroid-offset {
  position: absolute;
  left: 50%;
  top: 50%;
}

.polaroid {
  font-family: "Gloria Hallelujah";
  width: 16em;
  min-height: 16em;
  background-color: white;
  padding: 1em;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  p {
    margin: 0;
  }
  .media + .caption {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .author {
    text-align: right;
    font-weight: bold;
  }
}

// responsive square image
.square-img {
  position: relative;
  width: 100%;
  background-color: lightgrey;
  padding-bottom: 100%;
  & > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// Stacked view
.polaroids.stacked {
  .polaroids-stack {
    display: content;
  }
  .polaroid-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1 !important;
  }
}